body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.show {
display: block !important;
}
.hidden {
display: none !important;
visibility: hidden !important;
}
.invisible {
visibility: hidden;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-center{
  width: 100%;
  text-align: center;
}
.application_button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#loading {
  visibility: hidden;
}

.cam_pic_class {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#preview-pic {
	/*
	-webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
	/*
	transform:rotate(90deg);
	*/
	height:59vh;  
	width:49vh;
	
	margin-left: -2vh;
	/*
	margin-top: 5vh;
	*/
	visibility: hidden;
}

#logout {
  position: absolute;
  right: 0;
  top:0;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.hist_text{
	border: 1px #888 solid;
	border-radius: 5px;
	height: 120px;
	padding: 15px;
	overflow: hidden;
	text-overflow: clip;
}

.hist_elem_text {
	border: 1px #888 solid;
	border-radius: 5px;
	height: 200px;
	padding: 15px;
	overflow-y: scroll;
	margin-bottom: 5px;
}

#imagepreview {
    width: 100%;
    height: 100%;
}

#creation-date {
    margin-bottom: 20px;
    margin-top: 20px;
}